<div class="grid" id="card-grid">
    <div class="grid-header row-last">
        <div class="grid-cell grid-cell-check">
            <input type="checkbox" class="grid-input" ng-model="grid.allSelected" ng-change="onSelectAll()">
        </div>
        <div class="grid-cell grid-cell-count">Count</div>
        <div class="grid-cell grid-cell-name">Name</div>
        <div class="grid-cell grid-cell-type">Type</div>
        <div class="grid-cell grid-cell-set">Set</div>
        <div class="grid-cell grid-cell-cost">Cost</div>
    </div>
    <div ng-repeat="(key, value) in grid.rows | groupBy: grid.groupBy | toArray: true | orderBy : grid.orderBy ">
        <div class="grid-group-header">{{value.$key}} ({{value.length}})</div>
        <div class="grid-row" ng-class="{'row-even': $even, 'row-odd': $odd, 'row-last': $last, 'row-selected': card.selected}"
             ng-repeat="card in value | orderBy: grid.currentSorting.field : grid.sortDescending" ng-include="'partials/grid/grid-row.html'"></div>
    </div>
</div>
