<div class="grid-cell grid-cell-check">
    <input class="grid-input" type="checkbox" ng-model="card.selected">
</div>

<div class="grid-cell grid-cell-count">
    <input class="grid-input" type="number" min="0" size="3" ng-model="card.amount" ng-change="updateAmount(card)" ng-disabled="!editable">
</div>

<div class="grid-cell grid-cell-name" linkcard>
    <div class="inlinemtg" data-multiverseid="{{card.multiverseid}}" data-multiverseid-back="{{card.multiverseidBack}}"
         data-set="{{card.setcode}}" data-options="{{card.split ? 'rotate90' : ''}}">{{card.name}}</div>&nbsp;
</div>

<div class="grid-cell grid-cell-type">
    {{card.fulltype}}&nbsp;
</div>

<div class="grid-cell grid-cell-set"><setimage set="card.setcode" rarity="card.rarity"></setimage></div>

<div class="grid-cell grid-cell-cost"><manacost mana="card.cost"></manacost>&nbsp;</div>
