<div>
    <div>{{deck.name}}</div>
    <form ng-submit="submitAdd()">
        <label>
            Add card
            <live-search
                id="add-card" type="text"
                autofocus
                live-search-callback="searchCallback"
                live-search-item-template="{{result.name}}"
                live-search-select-callback="searchSelectCallback"
                ng-model="cardSearchValue"></live-search>
        </label>
        <label>
            Group by
            <select ng-options="grouping.name for grouping in grid.groupingOptions" ng-model="grid.currentGrouping" ng-change="onGroupingChange()"></select>
        </label>
        <label>
            Sort by
            <select ng-options="sorting.name for sorting in grid.sortingOptions" ng-model="grid.currentSorting"></select>
        </label>
        <label>
            Descending
            <input type="checkbox" ng-model="grid.sortDescending">
        </label>
    </form>
    <div ng-include="'partials/grid/grid.html'"></div>
</div>
