<div>
    <div>{{deck.name}}</div>
    <form ng-submit="submitAdd()">
        <label>
            Add card
            <live-search
                id="add-card" type="text"
                autofocus
                live-search-callback="searchCallback"
                live-search-item-template="{{result.name}}"
                live-search-select-callback="searchSelectCallback"
                ng-model="cardSearchValue"></live-search>
        </label>
        <label>
            Group by
            <select ng-options="option.name for option in grid.groupingOptions" ng-model="grid.currentSorting" ng-change="onSortingChange(value)"></select>
            {{currentSorting.name}}
        </label>
    </form>
    <div ng-include="'partials/grid/grid.html'"></div>
</div>
