<div>
    <div class="nowrap">{{list.name}} ({{totalAmount(list.cards)}} cards / {{list.cards.length}} distinct)</div>
    <!--<div style="float: right"><button ng-click="edit()"><img src="../img/edit.svg" alt="Edit board"></button></div>-->
    <form ng-submit="submitAdd()" style="padding-bottom: 2px">
        <label ng-show="editable" class="nowrap">
            Add card
            <live-search
                id="add-card" type="text"
                autofocus
                live-search-callback="searchCallback"
                live-search-item-template="{{result.name}}"
                live-search-select-callback="searchSelectCallback"
                ng-model="cardSearchValue"></live-search>
        </label>
        <label class="nowrap">
            Group by
            <select ng-options="grouping.name for grouping in grid.groupingOptions" ng-model="grid.currentGrouping" ng-change="onGroupingChange()"></select>
        </label>
        <label class="nowrap">
            Sort by
            <select ng-options="sorting.name for sorting in grid.sortingOptions" ng-model="grid.currentSorting"></select>
        </label>
        <label class="nowrap">
            Descending
            <input type="checkbox" ng-model="grid.sortDescending">
        </label>
    </form>
    <paging total="list.cards.length" page-size="100" paging-action="update(page)" show-prev-next="true" hide-if-empty="true"></paging>
    <div ng-if="list.cards.length > 0" ng-include="'partials/grid/grid.html'"></div>
</div>
