<div>
    <div>{{node.tagName}}</div>
    <ul>
        <li ng-repeat="child in node.children | orderBy: 'tagName'">
            <span ng-click="child.expand = !child.expand">{{child.tagName}}</span>
            <ul ng-show="child.expand">
                <li ng-repeat="c2 in child.children | orderBy: 'tagName'">{{c2.tagName}}
                    <ul>
                        <li ng-repeat="deck in c2.decks | orderBy: 'name'">
                            <a ui-sref="app.deck({id: deck.id})">{{deck.name}}</a>
                        </li>
                    </ul>
                </li>
                <li ng-repeat="deck in child.decks | orderBy: 'name'">
                    <a ui-sref="app.deck({id: deck.id})">{{deck.name}}</a>
                </li>
            </ul>
        </li>
        <li ng-repeat="deck in node.decks | orderBy: 'name'">
            <a ui-sref="app.deck({id: deck.id})">{{deck.name}}</a>
        </li>
    </ul>
</div>
