<div class="footer">
    Card data by <a
        href="https://mtgjson.com/" target="_blank">MtgJson</a> (<a
        href="https://github.com/lsmoura/mtgjson" target="_blank">lsmoura</a>) / Mana and set symbols by <a
        href="https://github.com/jninnes/mtgicons" target="_blank">mtgicons (jninnes)</a> / Icons made by <a
        href="http://www.flaticon.com/authors/icomoon" title="Icomoon" target="_blank">Icomoon</a> and <a
        href="http://www.freepik.com" title="Freepik" target="_blank">Freepik</a> from <a
        href="http://www.flaticon.com" title="Flaticon" target="_blank">www.flaticon.com</a>, licensed by <a
        href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC BY 3.0</a>
</div>
