<div class="list" ng-controller="DeckListController">
    <select ng-options="tag.id as tag.name for tag in tags" ng-model="selectedTag">
        <option value="">All decks</option>
    </select>
    <ul>
        <li><a ui-sref="app.inventory">Inventory</a></li>
        <li ng-show="decks" ng-repeat="deck in decks | filter: tagFilter"><a ui-sref="app.deck({id: deck.id})">{{deck.name}}</a></li>
    </ul>
</div>

<div class="deck" ng-controller="CardListController">
    <div style="width: 100%; height: 100% " ui-view>
        <span>No content here yet</span>
    </div>
</div>
