<div class="list">
    <div ng-show="currentUserId">
        <h2>My decks</h2>
        <a ng-show="currentUserId" ui-sref="app.deck({id: user.inventoryid})" ui-sref-active="deck-active">
            <img src="../img/inventory.svg" height="16"><span> Inventory</span></a>
        <div style="margin: 5px 0">
            <button ng-dialog="partials/dialog/newTag.html">+<img src="../img/tag.svg" height="16" alt="New tag"></button>&nbsp;
            <button ng-dialog="partials/dialog/newDeck.html">+<img src="../img/deck.svg" height="16" alt="New deck"></button>
        </div>
        <decktree node="decksForUser" readonly="false"></decktree>
    </div>
    <div>
        <div class="tree pointer nowrap" ng-init="showHelpers = true">
            <span ng-click="showHelpers = !showHelpers"><img src="../img/tag.svg" height="16"> Deck helpers</span>
            <div class="indent nowrap" ng-show="showHelpers">
                <div class="indent">
                    <img src="../img/tag.svg" height="16"> Mana
                    <div><a ui-sref="app.helper.basictypeland" ui-sref-active="deck-active"><img src="../img/search.svg" height="16"><span> Basic land types</span></a></div>
                    <div><a ui-sref="app.helper.anycolorland" ui-sref-active="deck-active"><img src="../img/search.svg" height="16"><span> Any color land</span></a></div>
                    <div><a ui-sref="app.helper.manland" ui-sref-active="deck-active"><img src="../img/search.svg" height="16"><span> Manland</span></a></div>
                    <div><a ui-sref="app.helper.colorlessfix" ui-sref-active="deck-active"><img src="../img/search.svg" height="16"><span> Colorless mana fix</span></a></div>
                    <div><a ui-sref="app.helper.nonbasicsearch" ui-sref-active="deck-active"><img src="../img/search.svg" height="16"><span> Nonbasic land search</span></a></div>
                </div>
                <div><a ui-sref="app.helper.utilityland" ui-sref-active="deck-active"><img src="../img/search.svg" height="16"><span> Utility land</span></a></div>
                <div><a ui-sref="app.helper.commander" ui-sref-active="deck-active"><img src="../img/search.svg" height="16"><span> Commanders</span></a></div>
                <div><a ui-sref="app.helper.sweepers" ui-sref-active="deck-active"><img src="../img/search.svg" height="16"><span> Sweepers</span></a></div>
            </div>
        </div>
    </div>
    <decktree node="preconstructedDecks" readonly="true"></decktree>
</div>

<div class="deck">
    <div style="width: 100%; height: 100%" ui-view>
        <h2>Welcome to the Card Collection app</h2>
        <p>This is a pre-alpha development version. Database resets can and will happen. Use at your own risk.</p>
    </div>
</div>

<!--
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Cardcollection ads --><!--
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4002580289822426"
     data-ad-slot="9844160398"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
-->
