<h2>Advanced search</h2>
<form ng-submit="doSearch()">
    <table class="search" cellspacing="0">
        <tr><td>Name</td><td colspan="2"><input type="text" ng-model="search.name" size="40"></td></tr>
        <tr><td>Text (Oracle)</td><td colspan="2"><input type="text" ng-model="search.text" size="40"></td></tr>
        <tr><td>Types</td><td colspan="2"><input type="text" ng-model="search.types" size="40"></td></tr>
        <tr>
            <td rowspan="5">Colors</td>
            <td><label><input type="checkbox" ng-model="search.c.w"><mana s="w"></mana></label></td>
            <td><label><input type="radio" value="any" ng-model="search.c.type">Any <i>
                (Check <manacost mana="'WU'"></manacost> to find <mana s="w"></mana>, <mana s="u"></mana>, <manacost mana="'WU'"></manacost>, <manacost mana="'WUB'"></manacost> cards, but no <mana s="c"></mana> or <mana s="b"></mana> cards)</i></label></td>
        </tr>
        <tr>
            <td><label><input type="checkbox" ng-model="search.c.u"><mana s="u"></mana></label></td>
            <td><label><input type="radio" value="all" ng-model="search.c.type">All <i>
                (Check <manacost mana="'WU'"></manacost> to find <manacost mana="'WU'"></manacost>, <manacost mana="'WUB'"></manacost> cards, but no <mana s="w"></mana> or <mana s="u"></mana> cards)</i></label></td>
        </tr>
        <tr>
            <td><label><input type="checkbox" ng-model="search.c.b"><mana s="b"></mana></label></td>
            <td><label><input type="radio" value="only" ng-model="search.c.type">Only <i>
                (Check <manacost mana="'WU'"></manacost> to find <mana s="c"></mana>, <mana s="w"></mana>, <mana s="u"></mana>, <manacost mana="'WU'"></manacost> cards, but no <manacost mana="'WUB'"></manacost> cards)</i></label></td>
        </tr>
        <tr>
            <td><label><input type="checkbox" ng-model="search.c.r"><mana s="r"></mana></label></td>
            <td><label><input type="radio" value="exact" ng-model="search.c.type">Exact <i>
                (Check <manacost mana="'WU'"></manacost> to find only <manacost mana="'WU'"></manacost> cards)</i></label></td>
        </tr>
        <tr>
            <td><label><input type="checkbox" ng-model="search.c.g"><mana s="g"></mana></label></td>
            <td><label>Amount of colors <amount value="search.c.amount"></amount></label></td>
        </tr>
        <tr>
            <td rowspan="2">Mana cost</td>
            <td ng-hide="true"><input type="text" ng-model="search.cost" size="40"></td>
            <td ng-hide="true" width="460px">Add:
                <span ng-repeat="o in costOptions" class="pointer"><mana s="{{o}}" ng-click="addManaCost(o)"></mana> </span>
            </td>
        </tr>
        <tr>
            <td colspan="2">Converted <amount value="search.cmc"></amount></td>
        </tr>
        <tr><td>Color identity</td><td>
            <label><input type="checkbox" ng-model="search.ci.w"><mana s="w"></mana></label>
            <label><input type="checkbox" ng-model="search.ci.u"><mana s="u"></mana></label>
            <label><input type="checkbox" ng-model="search.ci.b"><mana s="b"></mana></label>
            <label><input type="checkbox" ng-model="search.ci.r"><mana s="r"></mana></label>
            <label><input type="checkbox" ng-model="search.ci.g"><mana s="g"></mana></label>
            <label><input type="radio" ng-model="search.ci.c" value="true"><mana s="c"></mana></label></td>
            <td><label>Amount of colors <amount value="search.ci.amount"></amount></label></td>
        </tr>
        <tr><td>Creature</td>
            <td>Power <amount value="search.p"></amount>
                <label ng-hide="true"><input type="checkbox" ng-model="search.p.star"> Contains *</label></td>
            <td>Toughness <amount value="search.t"></amount>
                <label ng-hide="true"><input type="checkbox" ng-model="search.t.star"> Contains *</label></td>
        </tr>
        <tr><td>Planeswalker</td>
            <td colspan="2">Starting loyalty <amount value="search.loyalty"></amount></td>
        </tr>
        <tr  ng-hide="true"><td>Rarity</td>
            <td colspan="2"><select ng-model="search.rarity">
                <option ng-repeat="o in rarityOptions" value="{{o}}">{{o}}</option>
            </select></td>
        </tr>
        <tr><td>Format</td>
            <td colspan="2"><label ng-repeat="o in formatOptions"><input type="radio" ng-model="search.format" value="{{o}}">{{o}}</label></td>
        </tr>
        <tr><td>Special cards</td>
            <td colspan="2">
                <label><input type="checkbox" ng-model="search.special.conspiracy">Conspiracy</label>
                <label><input type="checkbox" ng-model="search.special.plane">Plane</label>
                <label><input type="checkbox" ng-model="search.special.phenomenon">Phenomenon</label>
                <label><input type="checkbox" ng-model="search.special.scheme">Scheme</label>
                <label><input type="checkbox" ng-model="search.special.token">Token</label>
            </td>
        </tr>
        <tr><td>Exclude</td>
            <td colspan="2"><label><input type="checkbox" ng-model="search.exclude.un">Unhinged & Unglued</label></td>
        </tr>
        <tr><td style="border: 0"><input type="submit" value="Search"></td></tr>
    </table>
</form>
