<h3>{{results.length}} Results</h3>
<div ng-if="results">
    <form ng-submit="search()">
        <label class="nowrap">Query <input type="text" ng-model="model.query" autofocus>&nbsp;<input type="submit" value="Search"></label>
    </form>
    <div ng-show="message" class="error">{{message}}</div>
    <!--
    <paging total="results.length" page-size="10" paging-action="update(page)" show-prev-next="true" hide-if-empty="true"></paging>
    <table class="searchresults" cellspacing="0">
        <tbody ng-repeat="card in pageresults">
            <tr><td rowspan="4">
                <img ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?type=card&multiverseid={{card.multiverseid}}">
            </td><td linkcard><span class="inlinemtg" data-multiverseid="{{card.multiverseid}}"
                    data-multiverseid-back="{{card.multiverseidBack}}"
                    data-set="{{card.setcode}}" data-options="{{card.split ? 'rotate90' : ''}}"
                    >{{card.name}}</span>&nbsp;</td></tr>
            <tr><td>{{card.fulltype}}, <manacost mana="card.cost"></manacost> ({{card.cmc}})</td></tr>
            <tr><td>{{card.text}}</td></tr>
            <tr><td>{{card.flavortext}}</td></tr>
            <tr><td>{{card.artist}}</td></tr>
        </tbody>
    </table>
    -->
    <cardlist list="results" editable="false" inventory="false"></cardlist>
</div>
<div ng-hide="results">Loading...</div>
