<table ng-controller="VersionCheckController">
    <tr><th>Code</th><th>Name</th><th>Common</th><th>Uncommon</th><th>Rare</th><th>Mythic</th></tr>
    <tr ng-repeat="set in sets track by $index">
        <td>{{set.gatherercode}}</td>
        <td>{{set.name}}</td>
        <td><setimage set="set.gatherercode" rarity="'Common'"></setimage></td>
        <td><setimage set="set.gatherercode" rarity="'Uncommon'"></setimage></td>
        <td><setimage set="set.gatherercode" rarity="'Rare'"></setimage></td>
        <td><setimage set="set.gatherercode" rarity="'Mythic Rare'"></setimage></td>
    </tr>
</table>
