<table ng-controller="VersionCheckController">
    <tr><th>Code</th><th>Common</th><th>Uncommon</th><th>Rare</th><th>Mythic</th></tr>
    <tr ng-repeat="set in sets">
        <td>{{set}}</td>
        <td><setimage set="set" rarity="'Common'"</td>
        <td><setimage set="set" rarity="'Uncommon'"</td>
        <td><setimage set="set" rarity="'Rare'"</td>
        <td><setimage set="set" rarity="'Mythic Rare'"</td>
        <td ng-if="set === 'TSP'"><setimage set="set" rarity="'Timeshifted'"</td>
    </tr>
</table>
