html,body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    overflow: hidden;
}

table.sets {
    border-collapse: collapse;
    border: 1px solid black;
}
table.sets th td {
    border: 1px solid lightgrey;
}

table.search {
    width: 900px;
}
table.search td {
    padding: 2px 5px;
    border-bottom: 1px dashed lightgrey;
}

.menubar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 40px;
    padding: 2px;
    border-bottom: 1px solid darkgrey;
}

.content {
    position: absolute;
    top: 45px;
    left: 0;
    height: calc(100% - 65px);
    width: calc(100% - 5px);
    padding: 0 0 0 5px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10px;
    width: 100%;
    font-size: 10px;
    padding: 5px;
    text-overflow: clip;
    background: white;
}

/* Menu bar */
.menutitle {
    float: left;
    padding: 5px;
}
.menuitem {
    float: left;
    padding-right: 5px;
    margin: auto 0;
}
.menuitem-right {
    float: right;
    padding-right: 5px;
}
.userimage {
    float: right;
    height: 32px;
    width: 32px;
    border-radius: 16px;
}

/* Main frame content */
.list {
    float: left;
    width: 200px;
    height: 100%;
    overflow: auto;
}

.deck {
    float: left;
    width: calc(100% - 415px);
    height: 100%;
    padding: 0 10px 0 5px;
    overflow: auto;
}

.adsbygoogle {
    float: right;
    width: 200px;
    height: 100%;
}

/* Deck content */
.grid {
    border: 2px outset black;
    overflow: auto;
    padding-top: 5px;
    margin-bottom: 20px;
    min-width: 740px;
    width: calc(100% - 4px);
    max-width: 1000px;
}

.grid-header {
    overflow: hidden;
    height: 1.8em;
    font-weight: bold;
}
.grid-group-header {
    overflow: hidden;
    height: 1.5em;
    font-style: italic;
}
.grid-row {
    overflow: hidden;
    border-top: 1px solid grey;
    height: 21px;
}
.grid-row:hover {
    background-color: lightgrey;
}
.row-odd {
    background-color: whitesmoke;
}
.row-even {
    background-color: white;
}
.row-last {
    border-bottom: 1px solid grey;
}
.row-selected {
    background: lightblue;
}

.grid-cell {
    float: left;
    overflow: hidden;
    white-space: nowrap;
}
.grid-cell-check {
    width: 40px;
}
.grid-cell-count {
    width: 50px;
}
.grid-cell-inventorycount {
    width: 30px;
    text-align: center;
}
.notenough {
    background-color: orange;
}
.grid-cell-name {
    min-width: 155px;
    width: calc((100% - 326px) * 0.4);
    text-overflow: ellipsis;
}
.grid-cell-type {
    min-width: 240px;
    width: calc(((100% - 326px) * 0.6) - 5px);
    padding-left: 5px;
    text-overflow: ellipsis;
}
.grid-cell-cost {
    width: 160px;
}
.grid-cell-set {
    width: 40px;
    padding-right: 5px;
}

input.grid-input {
    width: 30px;
}

img.mana {
    height: 16px;
    margin-top: 2px;
}

.set {
    font-size: 18px;
    margin: 1px auto 0;
}
.fallback {
    opacity: .2;
}
.e-ex {
    font-size: 15px !important;
}

.sortorder:after {
    content: '\25b2'; /* up arrow */
}
.sortorder.reverse:after {
    content: '\25bc'; /* down arrow */
}

.nowrap {
    white-space: nowrap;
}

.indent {
    margin-left: 15px;
}
.tree:before {
    content: '\25b6'; /* right arrow */
    display: inline-block;
    width: 10px;
}
.tree.expanded:before {
    content: '\25bc'; /* down arrow */
    display: inline-block;
    width: 10px;
}
.pointer {
    cursor: pointer;
}
.droptarget {
    background-color: #dfe6ed;
}

.deck-active span {
    background-color: lightgrey;
}

.iltt a {
    text-decoration: none;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
h2 {
    font-size: 18px;
    margin: 0;
}
h3 {
    font-size: 16px;
    margin: 0;
}

ul.pagination {
    margin: 5px 0;
    padding: 0;
}
.pagination li {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid lightgrey;
    border-left: none;
}
.pagination li.active {
    background-color: lightgrey;
}
.pagination li:hover {
    background-color: whitesmoke;
}
.pagination li:first-child {
    border-left: 1px solid lightgrey;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.pagination li:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.pagination a {
    text-decoration: none;
}
