<h2>Land helper</h2>

<h3>Any color</h3>
<cardlist list="anycolor" editable="false" inventory="false" showgroup="true" showcount="false" defaultgroup="2" defaultorder="1"></cardlist>

<h3>Basic land types</h3>
<cardlist list="basictypes" editable="false" inventory="false" showgroup="true" showcount="false" defaultgroup="2" defaultorder="1"></cardlist>

<h3>Man land</h3>
<cardlist list="man" editable="false" inventory="false" showgroup="true" showcount="false" defaultgroup="2" defaultorder="1"></cardlist>
